@import url(antd/dist/reset.css);

.layout {
  min-height: 100vh;
  padding: 24px;
}

.icon-table {
  position: relative;
  top: 3px;
}

.icon-header {
  position: relative;
  top: 7px;
}

.edit-cell {
  display: block;
  min-height: 24px;
}

.link-invalid {
  color: red;
}

.link-invalid span {
  font-size: 0.8rem;
}

.table-responsive {
  overflow-x: auto;
  max-width: 100%;
}

.dark-mode-button {
  position: relative;
  top: 3px;
}
